// MIXINS

// general
@mixin transition( $prop:all, $dur:1s, $timing:linear, $delay:0s ) {
	-webkit-transition: $prop $dur $timing $delay;
	-moz-transition: $prop $dur $timing $delay;
	-o-transition: $prop $dur $timing $delay;
	transition: $prop $dur $timing $delay;
}

@mixin box-sizing( $val ) {
	-webkit-box-sizing: $val;
	-moz-box-sizing: $val;
	box-sizing: $val;
}

// media queries
$desktop-only: "only screen and ( min-width:1025px )";
$desktop-tablet-landscape: "only screen and ( min-width:1024px )";
$tablet: "only screen and ( min-width:768px ) and ( max-width:1024px )";
$mobile: "only screen and ( max-width:767px )";

// variables
$hdr-height: 80px;
$hdr-status-bar: 20px;
$hdr-body-height: $hdr-height - $hdr-status-bar;

$menu-width: 60%;
$menu-desktop-width: 30%;

$base-xlight: #587790;
$base-light: #3F627F;
$base-med: #2A4F6E;
$base-dark: #0B2E4B;
$highlight: #D2CA78;

@mixin template-theme( $base-xlight:#587790, $base-light:#3F627F, $base-med:#2A4F6E, $base-dark:#0B2E4B, $highlight:#D2CA78 ) {
	body {
		background-color: $base-light;
	}
	.page {
		a {
			color: $highlight;
		}
		&.dark {
			background-color: $base-light;
			color: $highlight;
		}
	}
	#nav-menu {
		background-color: $base-dark;
		a {
			color: $highlight;
			&:hover {
				background-color: $highlight;
				color: $base-dark;
			}
		}
	}
	#header {
		background-color: $base-med;
		color: $highlight;
	}
	.dash-item {
		.dash-icon {
			background-color: $base-med;
		}
	}
}