// MIXINS

// general
@mixin transition( $prop:all, $dur:1s, $timing:linear, $delay:0s ) {
	-webkit-transition: $prop $dur $timing $delay;
	-moz-transition: $prop $dur $timing $delay;
	-o-transition: $prop $dur $timing $delay;
	transition: $prop $dur $timing $delay;
}

@mixin box-sizing( $val ) {
	-webkit-box-sizing: $val;
	-moz-box-sizing: $val;
	box-sizing: $val;
}

// media queries
$desktop-only: "only screen and ( min-width:1025px )";
$desktop-tablet-landscape: "only screen and ( min-width:1024px )";
$tablet: "only screen and ( min-width:768px ) and ( max-width:1024px )";
$mobile: "only screen and ( max-width:767px )";