@import 'mixins';

// variables
$hdr-height: 80px;
$hdr-status-bar: 20px;
$hdr-body-height: $hdr-height - $hdr-status-bar;
$menu-width: 50%;
$menu-desktop-width: 30%;

body {
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 16px;
}

#viewport {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	@include transition( margin-left, .5s, ease-in-out, 0s );
	box-shadow: -2px 2px 30px #333333;
	#close-nav {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		z-index: 200;
	}
	&.nav-open {
		margin-left: $menu-width;
		@media #{$desktop-only} {
			margin-left: $menu-desktop-width;
		}
		#close-nav {
			display: block;
		}
	}
}

.page {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 1;
	padding: $hdr-height + 20px 20px 0;
	@include transition( opacity, .5s, ease-in-out, 0s );
	@include box-sizing( border-box );
	&.hidden {
		z-index: -1;
		opacity: 0;
	}
	&.show {
		z-index: 1;
	}
}

#nav-menu {
	display: block;
	position: absolute;
	width: $menu-width;
	height: 100%;
	top: 0px;
	left: 0px;
	padding-top: 80px;
	margin-left: -$menu-width;
	@include transition( margin-left, .5s, ease-in-out, 0s );
	@media #{$desktop-only} {
		width: $menu-desktop-width;
		margin-left: -$menu-desktop-width;
	}
	a {
		display: block;
		color: #333;
		line-height: 40px;
		font-size: 24px;
	}
	&.reveal {
		margin-left: 0%;
	}
}

#header {
	position: absolute;
	top: 0;
	left: 0;
	height: $hdr-height;
	width: 100%;
	padding-top: $hdr-status-bar;
	background-color: #000;
	color: #fff;
	z-index: 100;
	@include box-sizing( border-box );
	h2 {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0;
		height: $hdr-body-height;
	}
	.burger {
		position: absolute;
		height: $hdr-body-height;
		top: $hdr-status-bar;
		left: 0px;
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}
}

