@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local("Muli-Regular"), url(../../fonts/Muli-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Muli-Italic';
  font-style: normal;
  font-weight: 400;
  src: local("Muli-Italic"), url(../../fonts/Muli-Italic.ttf) format("truetype"); }
@font-face {
  font-family: 'Muli-Bold';
  font-style: normal;
  font-weight: 400;
  src: local("Muli-Bold"), url(../../fonts/Muli-Bold.ttf) format("truetype"); }
@font-face {
  font-family: 'Muli-Black';
  font-style: normal;
  font-weight: 400;
  src: local("Muli-Black"), url(../../fonts/Muli-Black.ttf) format("truetype"); }
@font-face {
  font-family: 'Neuton-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Neuton-Regular"), url(../../fonts/Neuton-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Torzu-Regular';
  font-style: normal;
  font-weight: 400;
  src: local("Torzu-Regular"), url(../../fonts/Torzu-Regular.ttf) format("truetype"); }
@font-face {
  font-family: 'Torzu-Mono';
  font-style: normal;
  font-weight: 400;
  src: local("Torzu-Mono"), url(../../fonts/Torzu-Mono.ttf) format("truetype"); }
body {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
  font-family: 'Muli';
  -webkit-tap-highlight-color: transparent;
  background-color: #3F627F; }
  @media only screen and (min-width: 1025px) {
    body {
      overflow: hidden; } }

h2 {
  font-family: 'Muli-Bold';
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 14px; }

h3 {
  font-family: 'Muli-Bold';
  font-weight: normal; }

#viewport {
  display: block;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  -webkit-transition: margin-left 0.2s ease-in-out 0s;
  -moz-transition: margin-left 0.2s ease-in-out 0s;
  -o-transition: margin-left 0.2s ease-in-out 0s;
  transition: margin-left 0.2s ease-in-out 0s;
  box-shadow: 4px 2px 20px #000; }
  #viewport #close-nav {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0; }
  #viewport.nav-open {
    margin-left: 60%; }
    @media only screen and (min-width: 1025px) {
      #viewport.nav-open {
        margin-left: 30%; } }
    #viewport.nav-open #close-nav {
      z-index: 200;
      display: block; }
  @media only screen and (min-width: 1025px) {
    #viewport {
      overflow-y: scroll; } }

.page {
  display: block;
  position: absolute;
  width: 100%;
  height: calc( 100% - 80px );
  opacity: 1;
  z-index: 1;
  top: 80px;
  padding: 20px 20px 80px;
  background-color: #fff;
  overflow: auto;
  -webkit-transition: opacity 0.5s ease-in-out 0s;
  -moz-transition: opacity 0.5s ease-in-out 0s;
  -o-transition: opacity 0.5s ease-in-out 0s;
  transition: opacity 0.5s ease-in-out 0s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .page a {
    color: #D2CA78;
    text-decoration: none; }
    .page a:hover {
      text-decoration: underline; }
  .page.dark {
    background-color: #3F627F;
    color: #D2CA78; }
    .page.dark p {
      color: #fff; }
  .page.hidden {
    z-index: -10;
    opacity: 0; }
  .page.gone {
    display: none; }
  .page.show {
    z-index: 10;
    opacity: 1; }
  @media only screen and (min-width: 1025px) {
    .page {
      overflow: visible; } }

.icon-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .icon-grid .grid-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    margin: 6px;
    background-color: #2A4F6E;
    cursor: pointer; }
    .icon-grid .grid-icon span {
      transform: scaleY(1.2);
      margin-top: -4px; }

.tall-num {
  font-family: "Neuton-Regular" !important;
  font-size: 28px;
  transform: scaleY(1.2);
  margin-top: -4px; }

.grid-icon:hover, .dash-item:hover .dash-icon {
  background-color: #D2CA78 !important;
  color: #2A4F6E; }

form input[type="checkbox"] {
  opacity: 0;
  margin: 16px 8px;
  display: block; }
  form input[type="checkbox"] + label {
    cursor: pointer;
    display: block;
    position: absolute;
    margin-left: 24px;
    margin-top: -24px; }
    form input[type="checkbox"] + label:after {
      content: "\ea53";
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      margin: -19px 0px 0px -24px;
      opacity: 1;
      z-index: 100;
      font-family: 'icomoon'; }
  form input[type="checkbox"]:checked + label:after {
    content: "\ea52"; }
form > a, form > span {
  display: block;
  padding: 20px 0px 4px; }

#nav-menu {
  display: block;
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0px;
  left: 0px;
  padding-top: 80px;
  margin-left: -60%;
  background-color: #0B2E4B;
  -webkit-transition: margin-left 0.2s ease-in-out 0s;
  -moz-transition: margin-left 0.2s ease-in-out 0s;
  -o-transition: margin-left 0.2s ease-in-out 0s;
  transition: margin-left 0.2s ease-in-out 0s; }
  @media only screen and (min-width: 1025px) {
    #nav-menu {
      width: 30%;
      margin-left: -30%; } }
  #nav-menu a {
    display: block;
    color: #D2CA78;
    line-height: 50px;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 14px;
    text-decoration: none;
    font-family: 'Muli-Bold'; }
    #nav-menu a:hover {
      background-color: #D2CA78;
      color: #0B2E4B; }
  #nav-menu.reveal {
    margin-left: 0%; }

#header {
  position: absolute;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  padding-top: 20px;
  background-color: #2A4F6E;
  color: #D2CA78;
  z-index: 100;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  #header h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 60px; }
  #header i {
    position: absolute;
    height: 60px;
    top: 20px;
    width: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
  #header .burger {
    left: 0px; }
  #header .cog {
    right: 0px; }
  @media only screen and (min-width: 1025px) {
    #header {
      position: absolute; } }

.dash-item {
  cursor: pointer; }
  .dash-item .dash-icon {
    display: inline-flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    background-color: #2A4F6E; }
    .dash-item .dash-icon.large {
      width: 100px;
      height: 100px; }
      .dash-item .dash-icon.large .symbol {
        font-size: 80px; }
  .dash-item .description {
    display: inline-block;
    width: 64%;
    margin-left: 8px; }
    .dash-item .description h1 {
      display: block;
      font-family: 'Muli-Black';
      font-size: 28px;
      margin: 0;
      letter-spacing: -1px;
      font-weight: normal !important; }
    .dash-item .description span {
      color: #fff; }

.swatch-group {
  cursor: pointer; }
  .swatch-group .swatch {
    display: inline-block;
    width: 20px;
    height: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.enoch-reg {
  font-family: 'Torzu-Regular';
  text-align: right; }

.enoch-mono {
  font-family: 'Torzu-Mono';
  text-align: right; }

p.enoch-reg, p.enoch-mono {
  font-size: 22px;
  line-height: 28px; }

#nav-menu a.enoch-reg {
  font-family: 'Torzu-Regular'; }

#nav-menu a.enoch-mono {
  font-family: 'Torzu-Mono'; }

.rtl {
  text-align: right; }

.center {
  text-align: center; }

/*# sourceMappingURL=template.css.map */
